.blinkTxt {
    animation: blink 2s linear infinite;
}

.blink {
    animation: blink 0.9s infinite;
}


@keyframes blink {
    0% {
            opacity: 0;
        }
                50% {
            opacity: .5;
            }
            
            100% {
                opacity: 1;
            }
            }
    